<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BlueBus - 404 Not Found</title>
<th:block th:insert="~{fragments/header.html}"></th:block>
<link rel="stylesheet" href="/css/error.css">
</head>
<body>
	<div class="error-container">
		<h1>404 Not Found</h1>
		<p>Oops! The page you are looking for is lost in the digital wilderness.</p>
		<p>Return to <a href="/">BlueBus Home</a>.</p>
	</div>
</body>
</html>