<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlueBus-Edit Route</title>
<th:block th:insert="~{fragments/header.html}"></th:block>
<link rel="stylesheet" href="/css/edit-route.css">
</head>
<body>
	<div>
		<th:block th:insert="~{fragments/navbar.html}"></th:block>
		<th:block th:insert="~{fragments/message.html}"></th:block>
	</div>
	<div>
		<form action="/agency/edit-route" method="post">
			<div>
				<label>Select Bus</label> <select name="bus.id" required="required">
					<option selected="selected" disabled="disabled">Select One
						Bus</option>
					<option th:each="bus:${buses}" th:value="${bus.id}"
						th:text="${bus.name}"></option>
				</select>
			</div>

			<div id="stations">
				<div>
					<label>From:</label><br> <input type="text"
						placeholder="Enter Source Station" name="stations[0].name">
					<input type="time" name="stations[0].time">
				</div>
				<div>
					<label>To:</label><br> <input type="text"
						name="stations[1].name" placeholder="Enter Station"> <input
						type="text" name="stations[1].price"
						placeholder="Enter Ticket Price"> <input type="time"
						name="stations[1].time">
				</div>
			</div>
			<button type="button" onclick="addStation()">Add Station</button>

			<div>
				<label>Select Days : </label> 
				<input type="checkbox" name="monday" value="true" id="mon"> <label for="mon">Monday</label>
				<input type="checkbox" name="tuesday" value="true" id="tue"> <label for="tue">TuesDay</label>
				<input type="checkbox" name="wednesday" value="true" id="wed"> <label for="wed">Wednesday</label>
				<input type="checkbox" name="thursday" value="true" id="thu"> <label for="thu">Thursday</label>
				<input type="checkbox" name="friday" value="true" id="fri"> <label for="fri">Friday</label>
				<input type="checkbox" name="saturday" value="true" id="sat"> <label for="sat">Saturday</label>
				<input type="checkbox" name="sunday" value="true" id="sun"> <label for="sun">Sunday</label>
			</div>
			<a href="/"><button type="button">Back</button></a>
			<button>Add Route</button>
		</form>
	</div>
	<th:block th:insert="~{fragments/footer.html}"></th:block>
	<script type="text/javascript" src="/js/edit-route.js"></script>
</body>
</html>
