<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlueBus-Home</title>
<th:block th:insert="~{fragments/header.html}"></th:block>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div>
		<th:block th:insert="~{fragments/navbar.html}"></th:block>
		<th:block th:insert="~{fragments/message.html}"></th:block>
	</div>
	<div class="hero">
		<div class="hero-content">
			<h1>Welcome to Blue Bus</h1>
			<p>Your reliable partner for ticket booking</p>
		</div>

		<div class="content">
			<h2>About Blue Bus</h2>
			<p>Blue Bus is your go-to platform for booking bus tickets easily
				and conveniently. We provide a seam less and secure booking
				experience with a wide range of bus operators and routes to choose
				from.</p>
			<h2>Our Services</h2>
			<p>We offer 24/7 customer support, instant booking confirmation,
				and various payment options to make your travel hassle-free. Book
				your next trip with Blue Bus and enjoy a comfortable journey.</p>
		</div>
	</div>
	<th:block th:insert="~{fragments/footer.html}"></th:block>
</body>
</html>
