<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlueBus-RazorPay</title>
<th:block th:insert="~{fragments/header.html}"></th:block>
<link rel="stylesheet" href="/css/razorpay.css">
</head>
<body>
	<div>
		<th:block th:insert="~{fragments/navbar.html}"></th:block>
		<th:block th:insert="~{fragments/message.html}"></th:block>
	</div>
	<div class="container">
		<h4 th:text="'From: '+${tripOrder.from}"></h4>
		<h4 th:text="'To: '+${tripOrder.to}"></h4>
		<h4 th:text="'Price: '+${tripOrder.amount}"></h4>
	</div>

	<button id="rzp-button1">Pay with Razorpay</button>

	<th:block th:insert="~{fragments/footer.html}"></th:block>

	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script type="text/javascript" th:inline="javascript">
	var options = {
			"key": /*[[${key}]]*/,
			"amount": /*[[${tripOrder.amount*100}]]*/,
			"currency": "INR",
			"name": "BlueBus.com",
			"description": "Ticket Booking",
			"image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRztzdOgtuHMLzwdKqtVJ0TP-xgb7sV-DSW9A&s",
			"order_id": /*[[${tripOrder.orderId}]]*/,
			"callback_url": "/confirm-order/[[${tripOrder.id}]]",
			"prefill": {
				"name": /*[[${customer.name}]]*/,
				"email": /*[[${customer.email}]]*/,
				"contact": /*[['+91'+${customer.mobile}]]*/
		     },
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#F5F7F8"
			}
		};
		var rzp1 = new Razorpay(options);
		document.getElementById('rzp-button1').onclick = function(e) {
			rzp1.open();
			e.preventDefault();
		}
	</script>
</body>
</html>
