<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Signup</title>
<link rel="stylesheet" href="/css/signup.css">
</head>
<body>
	<div class="container">
		<form action="/signup" method="post">
			<h1>Sign-up as</h1>
			<div id="float">
				<input type="radio" name="role" value="customer" id="customer"><label for="customer">CUSTOMER</label> <br> 
				<input type="radio" name="role" value="agency" id="agency"><label for="agency">AGENCY</label><br>
			</div>
			<button>Select</button>
		</form>
	</div>
</body>
</html>
